*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + (13 - 7)
    * ((100vw - 300px) / (1600 - 300)));
    background-color: hsl(200, 100%, 20%);
}
.container {
    display: grid;
    grid-gap: .5rem;
    overflow: hidden;
    grid-template-areas: 
        'header header header header'
        'main main main main'
        'footer footer footer footer'
    ;
}
.header {
    height: 10vh;
    width: 100vw;
    display: flex;
    padding: 1rem;
    grid-area: header;
    justify-content: space-evenly;
    background-color: white;
    font-size: calc(16px + (13 - 7)
    * ((100vw - 300px) / (1600 - 300)));
    background-color: hsl(200, 100%, 20%);
}
.header .mememe {
    left: 0;
    margin-left: 1rem;
    display: flex;
    color: rgb(224, 211, 211);
    align-self: flex-start;
    position: absolute;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header .connect {
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    position: absolute;
}
.header .connect img {
    width: 30px;
    height: 30px;
    transform: scale(1);
    margin-left: 1rem;
    border-radius: 50%;
}
.header .connect img:hover {
    transform: scale(1.1);
}
.my-profile-image img {
    width: 100%;
}
.profile-image button {
    top: 100;
    left: 0;
    color: red;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    outline: none;
    border: none;
    margin: .5rem;
    transition: 0.3s;
    transform: scale(1);
    border-radius: .5rem;
    background-color: rgb(170, 162, 162);
    position: absolute;
}
.profile-image button:hover {
    transform: scale(1.1);
    background-color: #555;
}
.main {
    display: flex;
    grid-gap: .5rem;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    grid-area: main;
}
.profile {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}
.profile-image {
    background-color: black;
}
.profile-status {
    width: 65vw;
    padding: 1rem;
    background-color: black;
    background-color: #000000.7;
    justify-self: flex-end;
}
.profile-status div {
    width: 61vw;
    height: auto;
    position: absolute;
    background-color: hsl(201, 36%, 38%);
}
.more {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./profileimg/Capture.PNG');
}
.about-me {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    background-color: white;
}
.about-me div {
    color: red;
    width: 300px;
    height: 200px;
    display: flex;
    transform: scale(1);
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #777;
}
.about-me div:hover {
    background-color: #555;
    transform: scale(1.1);
}
.about-my-self {
    width: auto;
    display: none;
}
.about-my-self div {
    border-radius: 1rem;
    animation-duration: 1s;
    animation: dada 1s ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes dada {
    0% { transform: scale(0); }
    50% { transform: scale(1.1); }
    100%{ transform: scale(1); }
}
.footer {
    display: flex;
    grid-area: footer;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: hsl(200, 100%, 20%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.links-container {
    top: 75px;
    left: 55px;
    width: auto;
    height: auto;
    display: none;
    transition: 1s;
    font-size: 1em;
    position: absolute;
    border-radius: .5rem;
    background-color: hsl(200, 100%, 20%);
}
.links {
    width: 7.4vw;
    height: auto;
    display: flex;
    margin-right: 1rem;
    text-align: start;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    align-self: flex-start;
    border-radius: .5rem;

}
.links button {
    color: rgb(224, 210, 210);
    width: auto;
    height: 25px;
    outline: none;
    border: none;
    border-radius: .5rem;
    background-color: transparent;
    font-size: calc(8px + (13 - 7)
    * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.links button:hover {
    color: white;
}
.button-active {
    color: white;
}
.list-container {
    cursor: not-allowed;
    text-align: start;
    list-style-type: none;
    font-size: calc(12px + (13 - 7)
    * ((100vw - 300px) / (1600 - 300)));
} 
.span {
    right: 0;
    margin: .2rem;
    width: 20px;
    height: 20px;
    display: flex;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    position: absolute;
    align-items: center;
    border-radius: .2rem;
    justify-content: center;
    background-color: white;
    
}
.span:hover {
    color: red;
}
.one, .two, .three {
    overflow: hidden;
}
.one img, .two img, .three img {
    width: 100%;
}
@media(max-width: 700px) {
    .profile, .profile-status {
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: flex-start;
        justify-content: start;
    }
    .about-my-self div {
        left: -150px;
        width: 70vw;
    }
    .span {
        width: 20px;
        height: 20px;
    }
    .profile {
        overflow: hidden;
    }
    .profile img {
        width: 50vw;
        height: 50vh;
    }
    .about-me {
        padding: .7rem;
        flex-direction: column;
    }
    .about-me div {
        margin-bottom: .7rem;
    }
    .header {
        justify-content: center;
    } 
    .links {
        width: 80px;
        height: auto;
        padding: .3rem;
    }
    .links-container {
        left: 10px;
        top: 130px;
    }
    .list-container {
        margin-left: -30px;
    }
    .one, .two, .three {
        overflow: hidden;
    }
    .one img, .two img, .three img {
        width: 30vw;
    }
}
